@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    min-height: 100vh;
    background-color: rgb(81, 85, 126);
    color: black;
}

/*-----------------------------------------------------------------------------------------------*/
/*--------------------------------------------AREAS----------------------------------------------*/
    
header#top {
    grid-area: nav;
    background-color:rgb(214, 213, 168);
}
section#principal {
    grid-area: principal;
    background-color: rgb(129, 103, 151);

}
footer#pie {
    grid-area: pie;
    background-color: rgb(27, 36, 48);

}
aside#Left {
    grid-area: asideLeft;
    background-color: rgb(81, 85, 126);

}
aside#Right {
    grid-area: asideRight;
    background-color: rgb(81, 85, 126);
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------MOBILE----------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

@media (max-width: 500px)  {
    #grilla {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas:
        "nav"
        "asideLeft"
        "principal"
        "asideRight"
        "pie";
        grid-template-rows: 118px 30px auto 25px 120px;
    }

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------HEADER----------------------------------------------*/

    .barraDeNavegacion {
        width: 100%;
        height: 110px;

    }
    .navbar-brand {    
        font-family: 'Heebo';
        margin-left: 2%;
        font-size: 450%;
        text-align: left;

    }
    .nav-tabs .nav-link {
    background-color: rgb(81, 85, 126);
    border-bottom: rgb(129, 103, 151);
    color: black;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: rgb(129, 103, 151);
        border-color:rgb(129, 103, 151) rgb(129, 103, 151) rgb(129, 103, 151) rgb(129, 103, 151);
        color: white;
    }
    .nav-link {
        color: black;
    }
    .nav-tabs {
        padding-left: 15%;
        border-bottom: 1px solid rgb(81, 85, 126);
    }

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------FOOTER----------------------------------------------*/
    
    #pie {
        width: 100%;
        height: 120px;
    }
    footer div li {
        display: inline-block;
        list-style: none;
        padding: 25px 5% 0% 5%;
        
    }

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------PRINCIPAL-------------------------------------------*/   
        
    #principal {
        margin-top: 20px;
        padding-top: 20px;
        border-bottom: 25px rgb(81, 85, 126) solid;
        border-top: 25px rgb(81, 85, 126) solid;
        color: white;
    }
    .card {
        background-color: rgb(129, 103, 151);
    }

/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------------------VIDEOS--------------------------------------------*/
    
    .card {
        margin: 5px;
        padding: 3px;
    }
    .tituloEntrevistas {
        text-align: center;
        margin-top: 1%;
        font-size: 150%;
        color: black;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    .flex-container-entrevistas, .flex-container-videoLibros {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
        padding: 20px;
    }
    .flex-container-entrevistas h3 {
        padding: 0.5% 0.5% 0.5% 0.5%;
    }
    .flex-container-entrevistas ul li {
        list-style: none;
        padding: 13x 25px 12px 25px;
        text-align: center;
    }
    .flex-container-videoLibros {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .flex-container-videoLibros ul {
        border: 3px solid rgb(129, 103, 151);
        background-color: rgb(129, 103, 151);
        margin-right: 2%;
        margin-left: 2%;
        padding: 1% 1% 1% 1%;
    }
    .flex-container-videoLibros ul li {
        list-style: none;
        display: inline-block;
        padding: 2% 2% 2% 2%;
    }
    .flex-container-videoLibros h3 {
        padding: 0.5% 0% 0.5% 0%;
    }
    
/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------TIENDA----------------------------------------------*/

    .saga {
        padding-top: 10px;
    }
    .carousel-item {
        align-items: center;
        align-content: center;
        text-align: center;
        padding-bottom: 150%;
    }
    .libro {
    display: flex;
    flex-direction: column;
    }

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------AUTOR---------------------------------------------*/
        
    .flex-container-autor {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }    
    .acerca {
        text-align: center;
        font-size: 300%;
        padding: 2% 2% 2% 2%;
    }
    .flex-container-autor img {
        padding-left: 15%;
        border-radius: 1cm;
    }
    .flex-container-autor h3 {
        padding: 2% 10% 2% 15%;
        font-size: 200%;
    }
        
/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------CONTACTO-----------------------------------------*/
        
    #comentarioCheck {
        color: rgb(81, 85, 126);
    }  
    #confirmCheck  { 
        text-align: left;
        padding-left: 15%;
    } 
   #updateCheck{
        text-align: left;
        padding-left: 20%;
    }
   #submit {
        margin: 20px;
        background-color: gray;
        border-color: grey; 
    }
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*------------------------------------------TABLET-----------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

@media (min-width: 501px) and (max-width: 991px) {
    #grilla {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "nav nav nav"
        "asideLeft principal asideRight"
        "pie pie pie";
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 167px 4fr 120px;
    }
    
/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------HEADER----------------------------------------------*/

    .barraDeNavegacion {
        width: 100%;
        height: 110px;
    }

    .navbar-brand {    
        font-family: 'Heebo';
        margin-left: 2%;
        font-size: 450%;
        text-align: left;
    }
    #navbarNav{
        align-items: baseline;
        list-style: none;
        font-family: serif;
        font-size: 100%;
        text-align: right;
        text-decoration: none;
        margin-right: 5%;
        padding: 58px 0px 0px 2%;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: rgb(129, 103, 151);
        border-color:rgb(129, 103, 151) rgb(129, 103, 151) rgb(129, 103, 151) rgb(129, 103, 151);
        color: white;
    }
    .nav-link {
            color: black;
    }
    .nav-tabs {
        padding-left: 7%;
        border-bottom: 1px solid rgb(81, 85, 126);
    }

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------HEADER----------------------------------------------*/

    #left , #right {
        padding-top: 105px;
    }

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------FOOTER----------------------------------------------*/
    
    #pie {
        width: 100%;
        height: 120px;
    }
    footer div li {
        display: inline-block;
        list-style: none;
        padding: 25px 5% 0% 5%;
        
    }

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------PRINCIPAL-------------------------------------------*/   
        
    #principal {
        margin-top: 20px;
        padding-top: 20px;
        border-bottom: 25px rgb(81, 85, 126) solid;
        border-top: 25px rgb(81, 85, 126) solid;
        color: white;
    }
    .card {
        background-color: rgb(129, 103, 151);
    }

/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------------------VIDEOS--------------------------------------------*/
    
    .card {
        margin: 5px;
        padding: 3px;
    }
    .tituloEntrevistas {
        text-align: center;
        margin-top: 1%;
        font-size: 150%;
        color: black;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    .flex-container-entrevistas, .flex-container-videoLibros {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
        padding: 20px;
    }
    .flex-container-entrevistas h3 {
        padding: 0.5% 0.5% 0.5% 0.5%;
    }
    .flex-container-entrevistas ul li {
        list-style: none;
        padding: 13x 25px 12px 25px;
        text-align: center;
    }
    .flex-container-videoLibros {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .flex-container-videoLibros ul {
        border: 3px solid rgb(129, 103, 151);
        background-color: rgb(129, 103, 151);
        margin-right: 2%;
        margin-left: 2%;
        padding: 1% 1% 1% 1%;
    }
    .flex-container-videoLibros ul li {
        list-style: none;
        display: inline-block;
        padding: 2% 2% 2% 2%;
    }
    .flex-container-videoLibros h3 {
        padding: 0.5% 0% 0.5% 0%;
    }
    
/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------TIENDA----------------------------------------------*/

    .saga {
        padding-top: 10px;
    }
    .carousel-item{
        padding-top: 50px;
        margin-top: 0px;
        margin-left: 10%;
        margin-bottom: 50px;
    }

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------AUTOR---------------------------------------------*/
        
    .flex-container-autor {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }    
    .acerca {
        text-align: center;
        font-size: 300%;
    }
    .flex-container-autor img {
        border-radius: 1cm;
    }
    .flex-container-autor h3 {
        font-size: 200%;
    }
        
/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------CONTACTO-----------------------------------------*/
        
    #comentarioCheck {
        color: rgb(81, 85, 126);
    }  
    #confirmCheck  { 
        text-align: left;
        padding-left: 35%;
    } 
   #updateCheck{
        text-align: left;
        padding-left: 38%;
    }
   #submit {
        margin: 20px;
        background-color: gray;
        border-color: grey; 
    }
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------------------PC------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

@media (min-width: 991px) {
    #grilla {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "nav nav nav"
        "asideLeft principal asideRight"
        "pie pie pie";
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 120px 4fr 120px;
    }
    
/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------HEADER----------------------------------------------*/

    .barraDeNavegacion {
        width: 100%;
        height: 110px;
    }
    .navbar-brand {    
        font-family: 'Heebo';
        margin-left: 2%;
        font-size: 450%;
        text-align: left;

    }
    #navbarNav{
        align-items: baseline;
        list-style: none;
        font-family: serif;
        font-size: 100%;
        text-align: right;
        text-decoration: none;
        margin-right: 5%;
        padding: 58px 0px 0px 2%;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: rgb(81, 85, 126);
        border-color:rgb(129, 103, 151) rgb(129, 103, 151) rgb(81, 85, 126) rgb(129, 103, 151);
        color: white;
    }

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------FOOTER----------------------------------------------*/
   
    #pie {
        width: 100%;
        height: 120px;
    }
    footer div li {
        display: inline-block;
        list-style: none;
        padding: 25px 5% 0% 5%;
    }

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------PRINCIPAL-------------------------------------------*/   
        
    #principal {
        margin-top: 20px;
        padding-top: 20px;
        border-bottom: 25px rgb(81, 85, 126) solid;
        border-top: 25px rgb(81, 85, 126) solid;
        color: white;
    }
    .card {
        background-color: rgb(129, 103, 151);
    }

/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------------------VIDEOS--------------------------------------------*/
    
    .card {
        margin: 5px;
        padding: 3px;
    }
    .tituloEntrevistas {
        text-align: center;
        margin-top: 1%;
        font-size: 150%;
        color: black;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    .flex-container-entrevistas, .flex-container-videoLibros {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
        padding: 20px;
    }
    .flex-container-entrevistas h3 {
        padding: 0.5% 0.5% 0.5% 0.5%;
    }
    .flex-container-entrevistas ul li {
        list-style: none;
        padding: 13x 25px 12px 25px;
        text-align: center;
    }
    .flex-container-videoLibros {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .flex-container-videoLibros ul {
        border: 3px solid rgb(129, 103, 151);
        background-color: rgb(129, 103, 151);
        margin-right: 2%;
        margin-left: 2%;
        padding: 1% 1% 1% 1%;
    }
    .flex-container-videoLibros ul li {
        list-style: none;
        display: inline-block;
        padding: 2% 2% 2% 2%;
    }
    .flex-container-videoLibros h3 {
        padding: 0.5% 0% 0.5% 0%;
    }
    
/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------------TIENDA----------------------------------------------*/

    .saga {
        padding-top: 10px;
    }
    .carousel-item{
        padding-top: 50px;
        margin-top: 0px;
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .carousel-caption {
        font-size: 25%;
    }

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------AUTOR---------------------------------------------*/
        
    .flex-container-autor {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }    
    .acerca {
        text-align: center;
        font-size: 300%;
        padding: 2% 2% 2% 2%;
    }
    .flex-container-autor img {
        padding-left: 15%;
        border-radius: 1cm;
    }
    .flex-container-autor h3 {
        padding: 2% 10% 2% 15%;
        font-size: 200%;
    }
        
/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------CONTACTO-----------------------------------------*/
        
    #comentarioCheck {
        color: rgb(81, 85, 126);
    }  
    #confirmCheck  { 
        text-align: left;
        padding-left: 35%;
    } 
   #updateCheck{
        text-align: left;
        padding-left: 38%;
    }
   #submit {
        margin: 20px;
        background-color: gray;
        border-color: grey; 
    }
}

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*--------------------------------------ANIMACIONES----------------------------------------*/

.navbar-brand {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-19 20:57:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in{
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
.fotoAutor {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	        animation: swirl-in-fwd 0.6s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-19 21:19:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
}
@keyframes fotoAutor {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
}