/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*   Header   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
@include xsmall {
    .navbar-brand {    
        font-family: 'Heebo';
        margin-left: 2%;
        font-size: 250%;
        text-align: center;
    }
    .navbarNav{
        list-style: none;
        font-family: serif;
        font-size: 100%;
    }
    .nav {
        font-size: 100%;
        background-color: $bkg-first;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nav-link {
        color: black;
    }
}
@include small {
    .navbar-brand {    
        font-family: 'Heebo';
        margin-left: 2%;
        font-size: 250%;
        text-align: center;
    }
    .navbarNav{
        list-style: none;
        font-family: serif;
        font-size: 100%;
    }
    .nav {
        background-color: $bkg-first;
        display: flex;
        flex-direction: row;
    }
    .nav-link {
        color: black;
    }
}
@include medium {
    .navbar-brand {    
        font-family: 'Heebo';
        margin-left: 2%;
        font-size: 300%;
        text-align: left;
    }
    .navbarNav{
        align-items: baseline;
        list-style: none;
        font-family: serif;
        font-size: 100%;
        text-align: right;
        text-decoration: none;
        margin-right: 5%;
        padding: 58px 0px 0px 2%;
    }
    .nav-link.active {
        background-color: $bkg-third;
        border-color: $bkg-second $bkg-second $bkg-second $bkg-second;
        color: white;
    }
    .nav-link {
        color: black;
    }
    .nav-tabs {
        padding-left: 7.5%;
        border-bottom: 1px solid $bkg-third;
    }
}
@include large {
    .navbar-brand {    
        font-family: 'Heebo';
        margin-left: 2%;
        font-size: 400%;
        text-align: left;
    }
    .navbarNav{
        align-items: baseline;
        list-style: none;
        font-family: serif;
        font-size: 100%;
        text-align: right;
        text-decoration: none;
        margin-right: 5%;
        padding: 60px 0px 0px 2%;
    }
    .nav-link.active {
        background-color: $bkg-third;
        border-color:$bkg-second $bkg-second $bkg-third $bkg-second;
        color: white;
    }
    .nav-link {
        color: black;
    }
}