/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*   Index   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
@include xsmall {
    .contenido {
        padding-top: 20px;
        color: white;
        .notas {
            .card {
                background-color: $bkg-second;
            }
        }
    }
}
@include small {
    .contenido {
        padding-top: 20px;
        color: white;
        .notas {
            .card {
                background-color: $bkg-second;
            }
        }
    }
}
@include medium {
    .principal {
        padding-top: 5px;
        background-color: $bkg-third;
    }
    .contenido {
        padding-top: 20px;
        color: white;
        .notas {
            .card {
                background-color: $bkg-second;
            }
        }
    }
}
@include large {
    .principal {
        padding-top: 5px;
        background-color: $bkg-third;
    }
    .contenido {
        padding-top: 20px;
        color: white;
        .notas {
            .card {
                background-color: $bkg-second;
            }
        }
    }
}